



h3 {
  font-size: 1.5em;
  font-weight: 700;
}

p {
  font-size: 1em;
  line-height: 1.7;
  font-weight: 300;
  color: var(--text-gray);
}

.description {
  white-space: wrap;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrap {
  display: flex;
  justify: space-between;
  align-items: stretch;
  width: 100%;
  gap: 24px;
  padding: 2px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.box {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  position: relative;
  padding: 6px;
  background: #fff;
}

.box-top {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 12px;
  margin-bottom: 36px;
}

.box-image {
  width: 100%;
  height: 360px;
  object-fit: cover;
  object-position: 50% 20%;
}

.title-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-title {
  border-left: 3px solid var(--purple);
  padding-left: 12px;
}

.user-follow-info {
  color: hsl(0, 0%, 60%);
}

.button {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: auto;
  padding: 16px;
  color: #000;
  background: transparent;
  box-shadow: 0px 0px 0px 1px black inset;
  transition: background 0.4s ease;
}

.button:hover {
  background: var(--purple);
}

.fill-one {
  background: var(--light-bg);
}

.fill-two {
  background: var(--pink);
}

/* RESPONSIVE QUERIES */

@media (min-width: 320px) {
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 460px) {
  .title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 640px) {
  .box {
    flex-basis: calc(50% - 12px);
  }
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 840px) {
  .title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 1024px) {
  .box {
    flex-basis: calc(33.3% - 16px);
  }
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}
/* 
@media (min-width: 1100px) {
  .box {
    flex-basis: calc(25% - 18px);
  }
} */


.crops_card {
  position: relative;
  display: block;
  margin: 12px auto;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
}
.crops_card:hover {
  transition: all 0.4s;
}
.crops_card .info_section {
  position: relative;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  z-index: 2;
  border-radius: 10px;
}
.crops_card .info_section .crops_header {
  position: relative;
  padding: 25px;
  height: 40%;
}
.crops_card .info_section .crops_header h1 {
  color: #fff;
  font-weight: 400;
}

.crops_card .info_section .crops_header2 {
  position: relative;
  padding: 25px;
  height: 20%;
}
.crops_card .info_section .crops_header2 h1 {
  color: #fff;
  font-weight: 400;
}

.crops_card .info_section .crops_desc {
  padding: 25px;
  height: 50%;
}

.crops_card .info_section .crops_social {
  height: 10%;
  padding-left: px;
  padding-bottom: 20px;
}
.crops_card .info_section .crops_social ul {
  list-style: none;
  padding: 0;
}
.crops_card .info_section .crops_social ul li {
  display: inline-block;
  color: rgba(255, 255, 255, 0.4);
  transition: color 0.3s;
  transition-delay: 0.15s;
  margin: 0 10px;
}
.crops_card .info_section .crops_social ul li:hover {
  transition: color 0.3s;
  color: rgba(255, 255, 255, 0.8);
}
.crops_card .info_section .crops_social ul li i {
  font-size: 19px;
  cursor: pointer;
}
.crops_card .blur_back {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  right: 0;
  background-size: cover;
  border-radius: 11px;
}

@media screen and (min-width: 768px) {
  .crops_header {
    width: 60%;
  }

  .crops_desc {
    width: 50%;
  }

  .info_section {
    background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
  }
  .info_section2 {
    background: linear-gradient(to right, #0d0d0c 20%, transparent 100%);
  }

  .blur_back {
    width: 80%;
    background-position: -100% 10% !important;
  }
}
@media screen and (max-width: 768px) {
  .crops_card {
    /* width: 95%; */
    margin: 70px auto;
    min-height: 350px;
    height: auto;
  }

  .blur_back {
    width: 100%;
    background-position: 50% 50% !important;
  }

  .crops_header {
    width: 100%;
    margin-top: 85px;
  }

  .crops_desc {
    width: 100%;
  }

  .info_section {
    background: linear-gradient(to top, #141413 50%, transparent 100%);
    display: inline-grid;
  }
}

#tomb {
  box-shadow: 0px 0px 150px -45px rgba(19, 160, 134, 0.6);
}
#tomb:hover {
  box-shadow: 0px 0px 120px -55px rgba(19, 160, 134, 0.6);
}




.preheading{
  background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
}

.text-gradient {
  background: radial-gradient(circle, #16BFFD 0%, #CB3066 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.bg-gradient {
  background: radial-gradient(circle, #16BFFD 0%, #CB3066 100%);
}

.crop_image_hover:hover{
  scale: 1.03;
}